body{
    height: 100%;
    background-image: url(/images/body.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#main{
    background-image: url(/images/bg.gif);

    position: relative;
    background-size: cover;
    background-position:center;

    color: white;
    font-size: 60px;
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 300px;
    padding: 15px;
    opacity: 0.6;
}

#page1{
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
    background-image: url(/images/page1.jpg);
}

.card{
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;

    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

h2{
    font-size:70px;
    margin-bottom: 10px;
    margin-left: 40px;
}

p{
    margin-left: 40px;
}

a{
    text-decoration: none;
}

#about{
	position: relative;
	top: 150px;
	left: 50px;
	margin-right: 1200px;
}

#projects{
    position: absolute;
    top: 270px;
    left: 1000px;
    right: 5%;
}

#project_card{
    margin-left: 60px;
}

#social{
    position: absolute;
    top: 900px;
    left: 1100px;
    right: 9%;
}

#email{
    color: white;
    border-radius: 10%;
    position: relative;
    left: 40px;
    margin-right: 690px;
    padding-left: 4px;
}

#blog{
    position: relative;
    top: 350px;
    left: 200px;
    margin-right: 1440px;
}