body{
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
}
a{
    color: #9feaf9;
    text-decoration: none;
}
.profile-picture {
    width: 200px;
    border-radius: 50%;
    position:fixed; left:20px; top: 20px;
}
.person-name {
    position:fixed; left: 300px; top: 30px;
    font-size: 65px;
    font-family:  'Rozha One', 'Arial Narrow', Arial, sans-serif;
}
.hello {
    position:fixed; left: 20px; top: 220px;
    font-family: 'Glory ExtraBold', Tahoma, sans-serif;
}
.paragraph {
    position: fixed; left: 20px; top: 260px;
    font-size: 17px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social {
    position: fixed; left: 20px; top: 470px;
    font-size: 20px;
    font-family: 'Glory ExtraBold', 'Times New Roman', Times, serif;
}
.coding {
    position: fixed; left: 20px; top: 600px;
    font-size: 20px;
    font-family: 'Glory ExtraBold', 'Times New Roman', Times, serif;
}
.linkedin {
    position: fixed; left: 20px; top: 520px;
    width: 20px;
    border-radius: 4px;
}
.twitter {
    position: fixed; left: 20px; top: 550px;
    width: 20px;
    border-radius: 4px;
}
.github {
    position: fixed; left: 20px; top: 650px;
    width: 20px;
}
.codeforces {
    position: fixed; left: 20px; top: 680px;
    width: 20px;
}
.codechef {
    position: fixed; left: 20px; top: 710px;
    width: 20px;
}
.hackerrank {
    position: fixed; left: 20px; top: 740px;
    width: 20px;
}
.linkedin-text {
    position: fixed; left: 50px; top: 520px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.twitter-text{
    position: fixed; left: 50px; top: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.github-text {
    position: fixed; left: 50px; top: 650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.codeforces-text {
    position: fixed; left: 50px; top: 680px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.codechef-text {
    position: fixed; left: 50px; top: 710px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.hackerrank-text {
    position: fixed; left: 50px; top: 740px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}